{% extends "catalog/base.html" %}

{% block title %} {{ item.name }} {% endblock %}

{% block content %}

<h3>{{ item.name }}</h3>

<p>{{ item.description }}</p>

<h3>Reviews:</h3>
{% if not reviews %}
	<p>No reviews for this items</p>
{% else %}
	{% for review in reviews %}
		<hr>
		<p>
			<b>{{ review.name }}</b><br>
			{{ review.date }}<br>
			Rating: {{ review.rating }}<br>			
			{{ review.text }}
		</p>
	{% endfor %}
{% endif %}

<h3>{{ rtitle }}</h3>
<form action='' method="post">
{% csrf_token %}
	Name: <input type="text" name="name"/><br>
	Rating: 
		<input type="radio" name="rating" value='1' />1
		<input type="radio" name="rating" value='2' />2
		<input type="radio" name="rating" value='3' />3
		<input type="radio" name="rating" value='4' />4
		<input type="radio" name="rating" value='5' />5
	<br>
	<textarea rows='10' cols='40' name='text'></textarea><br>
	<input type="submit" value="Add review">
</form>

{% endblock %}