<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8" />
        <title>Revel</title>
        {% load static %}
        {% load i18n %}
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'catalog/css/style.css' %}" />
        <link rel="stylesheet" href="{% static 'catalog/css/bootstrap.css' %}" />
        <link rel="stylesheet" href="{% static 'catalog/css/shop-item.css' %}" />

        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>

        {% include 'catalog/js_detail.html' %}

        <script id="loginTemplate" type="text/template">
            <div id='login' class="container">
            <div class="col-xs-4">
                <p class='form-control-static' id="loginError"></p>
                <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type='text' id='uname' class="form-control" placeholder="username">
                </div>
                <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input type='password' id='pword' class="form-control" placeholder="password"><br>
                </div><br>
                <button id='submit' type="button" class="btn btn-success btn-block">Log in</button>
            </div>
            </div>
        </script>

        <script id="registerTemplate" type="text/template">
            <div  class="container">
            <div class="col-xs-4">
                <div id='register-error'></div>
                <div id='register'>
                    <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type='text' id='usname' class="form-control" placeholder="username">
                    </div>
                    <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input type='email' id='email' class="form-control" placeholder="email">
                    </div>
                    <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type='password' id='psword' class="form-control" placeholder="password">
                    </div><br>
                    <button id='reg' type="button" class="btn btn-success btn-block">Register</button>
                </div>
            </div>
            </div>
        </script>

        <script id="waitTemplate" type="text/template">
            <div  class="container">
            <div class="col-xs-4">
                <h4>Confirmation was sent to <%= email %> </h4>
            </div>
            </div>
        </script>

        <script type="text/template" id="random-order-template">
            <% if(!_.isUndefined(order_items)) { %>
            <div class="table-responsive col-md-6">
                <table class='table'>
                <caption>Random order for <%= suname %>, order ID: <%= order_id %></caption>
                <thead class="thead">
                <tr>
                    <th>Total</th>
                    <th><span class='pull-right'>$<%= total_price%></span></th>
                </tr>
                </thead>
                <tbody>
                <% _.each(order_items, function(order_item) { %>
                    <tr>
                        <td><%= order_item.name %></td>
                        <td><span class='pull-right'>$<%= order_item.price %></span></td>
                    </tr>
                <% }); %>
                </tbody>
                </table>
            </div>
            <% } %>
        </script>

        <script id="submitTemplate" type="text/template">
            <div id='collection' class="container">
            <table class='table table'>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Rating</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            <% _.each(collection, function(model) { %>
                <tr>
                    <td><a href='#items/<%= model.id %>'><%= model.name %></a></td>
                    <td>$<%= model.price %></td>
                    <td>
                        <% _.each([1, 2, 3, 4, 5], function(i){ %>
                            <% if(i <= model.rating) { %>
                                <span class="glyphicon glyphicon-star"/>
                            <% } else { %>
                                <span class="glyphicon glyphicon-star-empty"/>
                            <% } %>
                        <% }); %>
                    </td>
                    <td>
                        <% if(!_.isUndefined(suname)) { %>
                        <button type='button' class='btn btn-default btn-xs add' data-add="<%= model.id %>">Add to cart</button>
                        <% } %>
                    </td>
                </tr>
            <% }); %>
            </tbody>
            </table>
            <div>
                <% if(!_.isUndefined(suname)) { %>
                <button class="btn btn-success" type="button" id="random-order">Generate random order</button>
                <% } %>
                <div id='random-order-container'>
                
                </div>
            </div>
            </div>
        </script>

        <script id="ordersTemplate" type="text/template">
            <div class="container">
            <div class=" col-sm-8">
                <table class="table table">
                <caption>Closed orders for <%= suname %></caption>
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Date</th>
                        <th><span class="pull-right">Total</span></th>
                    </tr>
                </thead>
                <% _.each(collection, function(order) { %>                    
                <tbody>
                    <tr data-toggle="collapse" data-target="#accordion<%= order.id %>" class="clickable" style="cursor:pointer;">
                        <td><%= order.id %></td>
                        <td><%= order.created %></td>
                        <td><span class="pull-right">$<%= order.total_price %></span></td>
                    </tr>
                    <tr id="accordion<%= order.id %>" class="collapse">
                        <td colspan="3">
                            <table class="table table">
                                <% _.each(order.items, function(item){ %>
                                <tr>
                                    <td><a href='#items/<%= item.id %>'><%= item.name %></a></td>
                                    <td><span class="pull-right">$<%= item.price %></span></td>
                                </tr>
                                <% }); %>
                            </table>
                        </td>
                    </tr>
                </tbody>
                <% }); %>
                </table>
            </div>
            </div>
        </script>

        <script id="cartTemplate" type="text/template">
            <div class="container">
            <div class=" col-sm-8">
            <% if(_.isUndefined(order) || _.size(order.items) == 0){ %>
            <h4>No items in the cart</h4>
            <% } else { %>
                <table class="table table">
                <caption>Shopping cart for <%= suname %>, order ID: <%= order.id %></caption>                 
                <tbody>
                        <% _.each(order.items, function(item){ %>
                        <tr>
                            <td><a href='#items/<%= item.id %>'><%= item.name %></a></td>
                            <td><span class="pull-right">$<%= item.price %></span></td>
                            <td><button type='button' class='btn btn-default btn-xs del' data-del="<%= item.oid %>">Remove</button></td>
                        </tr>
                        <% }); %>
                                
                </tbody>
                <thead>
                    <tr>
                        <th>Total</th>
                        <th><span class="pull-right">$<%= order.total_price %></span></th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="3"><button type='button' class='btn btn-success done'>Close the order</button></td>
                    </tr>
                <tbody>
                </table>
            <%} %>
            </div>
            </div>
        </script>

        <div id="navigation"></div>
        <div id="container"></div>

        <script type="text/javascript" src="{% static 'catalog/js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'catalog/js/bootstrap.js' %}"></script>
        <script type="text/javascript" src="{% static 'catalog/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'catalog/js/underscore.js' %}"></script>
        <script type="text/javascript" src="{% static 'catalog/js/backbone.js' %}"></script>
        <script type="text/javascript" src="{% static 'catalog/js/js_cookie.js' %}"></script>
        <script type="text/javascript" src="{% static 'catalog/js/backbone_tastypie.js' %}"></script>
        <script type="text/javascript" src="{% static 'catalog/js/models.js' %}"></script>
        <script type="text/javascript" src="{% static 'catalog/js/views.js' %}"></script>
        <script type="text/javascript" src="{% static 'catalog/js/router.js' %}"></script>
    </body>
</html>